# Carpetas generadas y binarios
/build/
*.exe
*.dll
*.lib

# Y la custom tambien
/bin-intermediates/
/bin

# Archivos de depuración y Visual Studio
*.obj
*.pdb
*.user
.vs/

# X64 de GTest
/GTests/x64
/packages

# Binarios de Sandbox
/Sandbox/x64

# Excluir los .dll y .lib de OpenGL
!src/vendor/OpenGL/**/*.dll
!src/vendor/OpenGL/**/*.lib


# Y algunos archivos generados por los tests.
/x64/Debug
